.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; clear:both;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;cursor: pointer}

code{font-weight:normal; font-style:normal; font-family:Georgia, "Times New Roman", Times, serif;}

img{margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D6D6D6; text-align:center;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}
ul, ol, li { list-style: none outside none; }
/* ---------------------------- HTML 5 Overrides ---------------------------- */

address, article, aside, figcaption, figure, footer, header, nav, section{
    display:block;
    margin:0;
    padding:0;
    vertical-align: top;
}

q {
    display:block;
    padding:0 10px 8px 10px;
    color:#979797;
    background-color:#ECECEC;
    font-style:italic;
    line-height:normal;
}
q:before{
    content:'“ ';
    font-size:26px;
}
q:after{
    content:' „';
    font-size:26px;
    line-height:0;
}

html{overflow-y:scroll;}
/* ---------------------------------- Body ---------------------------------- */
body {
    background: -webkit-linear-gradient(left, #333333, #515151); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #333333, #515151); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #333333, #515151); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #333333, #515151); /* Standard syntax */
    background-color: #ECECEC;
    background-repeat: repeat-y;
    color: #666666;
    font-size:14px;
    font-family: "Arial Black", Gadget, sans-serif;
    margin: 0;
    padding:0;
    width: 100%;
    min-width: 1024px;
}

/* ------------------------------ screen > 1024 ----------------------------- */
@media all and (min-width: 1025px) {
    body { background-size: 18.75%; }
}
/* ------------------------------ screen < 1024 ----------------------------- */
@media all and (max-width: 1024px) {
    body { background-size: 192px; }
}

body > header, nav, body > footer {
    margin: 0 auto;
}
/* --------------------------------- Sizes ---------------------------------- */
body > header, aside {
    clear: left;
    display: inline-block;
    float: left;
    text-align: left;
    vertical-align: top;
    width: 18.75%;
    min-width: 192px;
}

body > header > *, aside > * {
    margin: 0 30px;
}

nav, section {
    clear: right;
    display: inline-block;
    float: right;
    min-width: 832px;
    width: 81.25%;
}

nav > *, section > * {
    margin-left: 20px;
}

/* --------------------------------- Header --------------------------------- */
body > header {
    text-align: left;
    float: left;
    line-height: normal;
    color: #979797;
}
body > header h1, body > header h2 {
    font-weight: normal;
    text-transform: none;
}
body > header h1 {
    font-size: 36px;
    outline: medium none;
    padding: 10px 0;
    text-decoration: none;
}
body > header h2 {
    font-size: 13px;
    padding: 2px 0;
}
/* ----------------------------------- Nav ---------------------------------- */
nav {
    display: block;
    text-align: right;
}
nav > ul {
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 0 0 2px 0;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 5px 20px 5px 0;
    text-align: right;
}
nav > ul > li {
    display: inline-block;
    padding: 5px 0;
    color: #333333;
    margin: 0 0 0 10px;
}

nav > ul > li:first-child {
    font-weight: bold;
}

nav > ul > li > a {
    color: #333333;
}

nav > ul > li > a:hover {
    color: #0084ff
}

nav > ul > ul {
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 0 0 5px 0;
    padding: 0;
}

/* ---------------------------------- Aside --------------------------------- */
aside {
    display: inline-block;
    float: left;
    text-align: left;
}
aside > ul {
    padding: 0px;
}
aside > ul > li {
    padding: 5px 0;
}
aside > ul > li > a {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00d0ff), color-stop(1, #0098e4) );
    background:-moz-linear-gradient( center top, #00d0ff 5%, #0098e4 100% );
    background-color:#00d0ff;
    border: 1px solid #7CD1FF;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00d0ff', endColorstr='#0098e4');
    color:#ffffff;
    display: block;
    padding: 10px;
    font-weight:bold;
    font-style:normal;
    transition: all 0.2s ease;
}
aside > ul > li > a:hover, aside > ul > li.active > a {
    padding-left: 20px;
}
aside > ul > li.active > a {
    background: #FFFFFF;
    border-color: #FFFFFF;
    color: #333333;
}
aside > ul > ul {
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 0 0 5px 0;
    padding: 0;
}

aside > ul > ul > li > a {
    color: #bbbbbb !important;
    transition: 0.2s ease;
}

aside > ul > ul > li > a:before {
    content: "\25B8";
    padding: 0 5px;
}

aside > ul > ul > li > a:hover, aside > ul > ul > li.active > a {
    color: #ffffff !important;
    padding-left: 5px;
}
/* -------------------------------- Section --------------------------------- */
section {
    clear: right;
    display: inline-block;
    float: right;
    padding: 0px;
    margin: 0px;
    text-align: left;
    vertical-align: top;
}
section > * { margin: 0 20px; }
section:first-child * { margin-top: 20px; }
section:last-child * { margin-bottom: 20px; }

section h1 {
    color: #333333;
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 10px;
    padding-top: 20px;
}

section header, section article, section footer {
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 2px;
    display: block;
    width: auto;
    margin-right: 20px;
    max-width: none;
    padding: 0px;
}

section header {
    border-bottom-width: 0;
    margin-top: 20px;
}

section article {
    border-bottom-width: 0;
    border-top-width: 0;
    display: block;
}

section footer {
    border-top-width: 0;
}

section header > *, section article > *, section footer > * {
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 5px;
    margin: 0px;
    padding: 10px 10px 10px 20px;
}

section header > *, section footer > * {
    background-color: #D6D6D6;
    display: block;
    margin: 0px;
}

section header > * {
    border-bottom-width: 0px;
}

section header > h2 {
    color: #333333;
    font-size: 18px;
    line-height: 22px;
}

section footer > * {
    border-top-width: 0px;
}

section article > * {
    border-bottom-width: 0;
    border-top-width: 0;
    margin: 0px;
}
/* ---------------------------------- Form ---------------------------------- */
form {
    display: block;
    margin: 0px;
    padding: 0px;
}
fieldset {
    display: block;
    border: 1px solid #979797;
    margin: 0px;
    padding: 10px;
}
form details {
    display: block;
    font-style: italic;
    padding: 10px 0 5px 0;
}

fieldset > ul {
    display: block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
fieldset > ul > li {
    display: block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
legend {
    padding: 0 5px;
}
form label {
    display: inline-block;
    width: 10%;
    min-width: 64px;
    font-weight: bold;
}
form label:after {
    content: ":";
}

form input, form textarea {
    border: 1px solid #979797;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 50%;
    max-width: 90%;
    outline: 1px solid #DDDDDD;
    padding: 0px;
}

form input[type="radio"], form input[type="checkbox"] {
    outline: 0px solid transparent;
}

form input[type="color"] {
    width: 2.1em;
    height: 2em;
}

form input[type="submit"], form input[type="button"] {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00d0ff), color-stop(1, #0098e4) );
    background:-moz-linear-gradient( center top, #00d0ff 5%, #0098e4 100% );
    background-color:#00d0ff;
    border: 0px solid transparent;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00d0ff', endColorstr='#0098e4');
    color:#ffffff;
    padding: 1%;
    width: 50%;
    max-width: 88%;
    font-weight:bold;
    font-style:normal;
}
form input[type="submit"]:hover, form input[type="button"]:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0098e4), color-stop(1, #00d0ff) );
    background:-moz-linear-gradient( center top, #0098e4 5%, #00d0ff 100% );
    background-color:#0098e4;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0098e4', endColorstr='#00d0ff');
    color: #333333;
}


form input:focus, form textarea:focus {
    border-color: #ff9900;
}
form ol {
    display: block;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
form ol > li {
    display: block;
    padding: 0 0 0 10px;
    vertical-align: top;
}
/* --------------------------------- Footer --------------------------------- */
body > footer {
    bottom: 0px;
    filter: alpha(opacity=50);
    left: 12.5%;
    opacity: 0.5;
    padding: 0px;
    position: fixed;
    text-align: center;
    width: 100%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
body > footer:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}
/* ---------------------------------- Misc ---------------------------------- */
.map {
    display: inline-block;
    width: 300px;
    height: 300px;
}